<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="barra_lateral ">
        <div class="nombre_pagina">
            <span>CRUD OPERATIONS</span>
        </div>
        <section class="section_info">
            <img id="flechita" src="../storage/img/pexels-photo-2379004 1.png">
            <span>Karthi Madesh</span>
            <p>Admin</p>
        </section>
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="#">
                        <img src="../storage/img/home-lg-alt 1.svg">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/bookmark 1.svg">
                        <span>Course</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/graduation-cap 1.svg">
                        <span>Students</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/usd-square 1.svg">
                        <span>Payment</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/file-chart-line 1.svg">
                        <span>Report</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../storage/img/sliders-v-square 1.svg">
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="../index.html">
            <div class="sign-out">
                <span>Logout</span>
                <img src="../storage/img/sign-out-alt 1.png">
            </div>
        </a>
    </div>

    <script src="../javascript/main.js"></script>
</body>
</html>